:root {
    --hl-yellow: #b58900;
    --hl-green: #859900;
    --hl-red: #dc322f;
    --hl-orange: #cb5b16;
    --hl-blue: #268bd2;
    --hl-cyan: #2aa198;
    --hl-eggshell: #eee8d5;
    --hl-purple: #6c71c4;
    --hl-pink: #d33682;
    --hl-dark-green: #859900;
    --hl-dark-blue-1: #268bd2;
    --hl-dark-blue-2: #268bd2;
    --hl-dark-blue-3: #268bd2;
    --hl-gray-0: #767676;
    --hl-gray-1: #839496;
    --hl-gray-2: #93a1a1;
    --hl-gray-3: #657b83;
    --hl-gray-4: #586e75;
    --hl-gray-5: #2b3750;
}


.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #0000ff;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
    color: #a31515;
}

.hljs-number {
    color: #09885a;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #0451a5;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    color: #22863a;
    background: rgba(155, 185, 85, 0.2);
}

.hljs-deletion {
    color: #b31d28;
    background: rgba(255, 0, 0, 0.2);
}

.hl-source,
.hl-text {
    color: var(--hl-gray-3);
}

.hl-comment,
.hl-meta.hl-documentation {
    color: var(--hl-gray-0);
}

/* String constants */
.hl-string {
    color: var(--hl-cyan);
}

.hl-punctuation.hl-definition.hl-string {
    color: var(--hl-gray-1);
}

.hl-constant.hl-character.hl-escape {
    color: var(--hl-red);
}

.hl-constant {
    color: var(--hl-yellow);
}

.hl-constant.hl-language {
    color: var(--hl-yellow);
}

.hl-constant.hl-numeric {
    color: var(--hl-purple);
}

.hl-constant.hl-character {
    color: var(--hl-orange);
}

.hl-constant.hl-other {
    color: var(--hl-orange);
}

.hl-meta.hl-preprocessor {
    color: var(--hl-yellow);
}

.hl-variable {
    color: var(--hl-blue);
}

.hl-variable.hl-function {
    color: var(--hl-yellow);
}

.hl-variable.hl-language {
    color: var(--hl-pink);
}

.hl-punctuation.hl-definition.hl-variable {
    color: var(--hl-green);
}

.hl-keyword.hl-operator {
    color: var(--hl-gray-3);
}

.hl-keyword {
    color: var(--hl-green);
}

.hl-keyword.hl-import,
.hl-keyword.hl-include {
    color: var(--hl-orange);
}

.hl-keyword.hl-class {
    color: var(--hl-yellow);
}

.hl-keyword.hl-other.hl-new {
    color: var(--hl-red);
}

.hl-keyword.hl-other.hl-special-method {
    color: var(--hl-orange);
}

.hl-storage {
    color: var(--hl-green);
}

.hl-storage.hl-modifier {
    color: var(--hl-gray-4);
}

.hl-storage.hl-type {
    color: var(--hl-blue);
}

.hl-entity.hl-name {
    color: var(--hl-yellow);
}

.hl-entity.hl-name.hl-tag {
    color: var(--hl-blue);
}

.hl-entity.hl-other.hl-inherited-class {
    color: var(--hl-blue);
}

.hl-entity.hl-other.hl-attribute-name {
    color: var(--hl-yellow);
}

.hl-support.hl-function {
    color: var(--hl-green);
}

.hl-support.hl-function.hl-construct {
    color: var(--hl-red);
}

.hl-support.hl-type.hl-exception {
    color: var(--hl-orange);
}

.hl-support.hl-type,
.hl-support.hl-class {
    color: var(--hl-green);
}

.hl-support.hl-constant.hl-color {
    color: var(--hl-yellow);
}

.hl-punctuation.hl-section.hl-braces {
    color: var(--hl-gray-3);
}

.hl-punctuation.hl-section.hl-block {
    color: var(--hl-gray-3);
}

.hl-punctuation.hl-section.hl-parens {
    color: var(--hl-gray-3);
}

.hl-punctuation.hl-section.hl-group {
    color: var(--hl-gray-3);
}

.hl-punctuation.hl-section.hl-brackets {
    color: var(--hl-blue);
}

.hl-punctuation.hl-separator.hl-continuation {
    color: var(--hl-red);
}

.hl-punctuation.hl-definition.hl-tag {
    color: var(--hl-gray-2);
}

.hl-invalid {
    background: var(--hl-bg-red);
}

.hl-source.hl-scss .hl-invalid.hl-deprecated.hl-color.hl-w3c-non-standard-color-name {
    color: var(--hl-yellow);
}

.hl-source.hl-scss .hl-keyword.hl-control.hl-untitled {
    color: var(--hl-yellow);
}

.hl-source.hl-less .hl-keyword.hl-control.hl-html.hl-elements {
    color: var(--hl-yellow);
}

.hl-source.hl-scss .hl-entity.hl-name.hl-tag,
.hl-source.hl-css .hl-entity.hl-name.hl-tag,
.hl-source.hl-less .hl-entity.hl-name.hl-tag {
    color: var(--hl-yellow);
}

.hl-source.hl-scss .hl-entity.hl-other.hl-class,
.hl-source.hl-css .hl-entity.hl-other.hl-class,
.hl-source.hl-less .hl-entity.hl-other.hl-class {
    color: var(--hl-yellow);
}

.hl-source.hl-scss .hl-entity.hl-other.hl-id,
.hl-source.hl-css .hl-entity.hl-other.hl-id,
.hl-source.hl-less .hl-entity.hl-other.hl-id {
    color: var(--hl-yellow);
}

.hl-source.hl-scss .hl-entity.hl-other.hl-pseudo-class,
.hl-source.hl-css .hl-entity.hl-other.hl-pseudo-class,
.hl-source.hl-less .hl-entity.hl-other.hl-pseudo-class {
    color: var(--hl-blue);
}

.hl-source.hl-scss .hl-entity.hl-other.hl-pseudo-element,
.hl-source.hl-css .hl-entity.hl-other.hl-pseudo-element,
.hl-source.hl-less .hl-entity.hl-other.hl-pseudo-element {
    color: var(--hl-blue);
}

.hl-source.hl-ruby .hl-keyword.hl-other.hl-special-method {
    color: var(--hl-orange);
}

.hl-source.hl-ruby .hl-variable.hl-other.hl-constant {
    color: var(--hl-yellow);
}

.hl-source.hl-ruby .hl-constant.hl-other.hl-symbol {
    color: var(--hl-cyan);
}

.hl-source.hl-ruby .hl-punctuation.hl-definition.hl-constant {
    color: var(--hl-cyan);
}

.hl-source.hl-php .hl-meta.hl-array .hl-support.hl-function.hl-construct {
    color: var(--hl-yellow);
}

.hl-source.hl-c .hl-entity.hl-name.hl-function.hl-preprocessor,
.hl-source.hl-c\2b\2b .hl-entity.hl-name.hl-function.hl-preprocessor {
    color: var(--hl-orange);
}

.hl-source.hl-c .hl-meta.hl-preprocessor.hl-macro,
.hl-source.hl-c\2b\2b .hl-meta.hl-preprocessor.hl-macro {
    color: var(--hl-orange);
}

.hl-source.hl-c .hl-meta.hl-preprocessor.hl-include .hl-punctuation.hl-definition.hl-string,
.hl-source.hl-c\2b\2b .hl-meta.hl-preprocessor.hl-include .hl-punctuation.hl-definition.hl-string {
    color: var(--hl-cyan);
}

.hl-source.hl-c\2b\2b .hl-storage.hl-modifier {
    color: var(--hl-green);
}

.hl-text.hl-tex .hl-punctuation.hl-section.hl-group,
.hl-text.hl-latex .hl-punctuation.hl-section.hl-group {
    color: var(--hl-red);
}

.hl-text.hl-tex .hl-punctuation.hl-definition.hl-arguments,
.hl-text.hl-latex .hl-punctuation.hl-definition.hl-arguments {
    color: var(--hl-red);
}

.hl-text.hl-tex .hl-meta.hl-group.hl-braces,
.hl-text.hl-latex .hl-meta.hl-group.hl-braces {
    color: var(--hl-yellow);
}

.hl-text.hl-tex .hl-variable.hl-parameter.hl-function,
.hl-text.hl-latex .hl-variable.hl-parameter.hl-function {
    color: var(--hl-orange);
}

.hl-text.hl-tex .hl-string.hl-other.hl-math,
.hl-text.hl-latex .hl-string.hl-other.hl-math {
    color: var(--hl-yellow);
}

.hl-text.hl-tex .hl-constant.hl-other.hl-math,
.hl-text.hl-latex .hl-constant.hl-other.hl-math {
    color: var(--hl-cyan);
}

.hl-text.hl-tex .hl-constant.hl-character.hl-math,
.hl-text.hl-latex .hl-constant.hl-character.hl-math {
    color: var(--hl-cyan);
}

.hl-text.hl-tex .hl-punctuation.hl-definition.hl-constant.hl-math,
.hl-text.hl-latex .hl-punctuation.hl-definition.hl-constant.hl-math {
    color: var(--hl-red);
}

.hl-text.hl-tex .hl-punctuation.hl-definition.hl-string,
.hl-text.hl-latex .hl-punctuation.hl-definition.hl-string {
    color: var(--hl-red);
}

.hl-text.hl-tex .hl-variable.hl-parameter.hl-definition.hl-label,
.hl-text.hl-latex .hl-variable.hl-parameter.hl-definition.hl-label {
    color: var(--hl-orange);
}

.hl-text.hl-tex .hl-support.hl-function.hl-be,
.hl-text.hl-latex .hl-support.hl-function.hl-be {
    color: var(--hl-green);
}

.hl-text.hl-tex .hl-support.hl-function.hl-section,
.hl-text.hl-latex .hl-support.hl-function.hl-section {
    color: var(--hl-orange);
}

.hl-text.hl-tex .hl-support.hl-function.hl-general,
.hl-text.hl-latex .hl-support.hl-function.hl-general {
    color: var(--hl-cyan);
}

.hl-text.hl-tex .hl-storage.hl-type.hl-label,
.hl-text.hl-latex .hl-storage.hl-type.hl-label {
    color: var(--hl-cyan);
}

.hl-text.hl-tex .hl-keyword.hl-other.hl-reference,
.hl-text.hl-latex .hl-keyword.hl-other.hl-reference {
    color: var(--hl-cyan);
}

.hl-source.hl-python .hl-storage.hl-type.hl-class {
    color: var(--hl-green);
}

.hl-source.hl-python .hl-storage.hl-type.hl-function {
    color: var(--hl-green);
}

.hl-source.hl-python .hl-storage.hl-modifier.hl-global {
    color: var(--hl-green);
}

.hl-source.hl-python .hl-support.hl-type.hl-exception {
    color: var(--hl-yellow);
}

.hl-source.hl-shell .hl-keyword.hl-operator.hl-expansion {
    color: var(--hl-green);
}

.hl-source.hl-perl .hl-support.hl-function {
    color: var(--hl-blue);
}

.hl-source.hl-diff .hl-meta.hl-range {
    color: var(--hl-blue);
}

.hl-source.hl-diff .hl-entity.hl-name.hl-section {
    color: var(--hl-orange);
}

.hl-source.hl-diff .hl-markup.hl-deleted {
    color: var(--hl-gray-5);
    background: var(--diff-remove-bg);
}

.hl-source.hl-diff .hl-markup.hl-inserted {
    color: var(--hl-gray-5);
    background: var(--diff-add-bg);
}

.hl-js .hl-variable.hl-other.hl-readwrite,
.hl-js .hl-variable.hl-other.hl-object,
.hl-js .hl-variable.hl-other.hl-constant {
    color: var(--hl-gray-3);
}

.hl-json .hl-key .hl-string {
    color: var(--hl-pink);
}

.hl-ts .hl-keyword.hl-control {
    color: var(--hl-orange);
}

.hl-typed-Comment {
    color: var(--hl-dark-green);
}

.hl-typed-PunctuationDelimiter {
    color: var(--hl-orange);
}

.hl-typed-PunctuationBracket {
    color: var(--hl-orange);
}

.hl-typed-IdentifierKeyword {
    color: var(--hl-dark-blue-3);
}

.hl-typed-IdentifierOperator {
    color: var(--hl-dark-blue-1);
}

.hl-typed-Identifier {
    color: var(--hl-blue);
}

.hl-typed-IdentifierBuiltin {
    color: var(--hl-blue);
}

.hl-typed-IdentifierNull {
    color: var(--hl-orange);
}

.hl-typed-BooleanLiteral {
    color: var(--hl-orange);
}

.hl-typed-IdentifierConstant {
    color: var(--hl-dark-blue-1);
}

.hl-typed-IdentifierMutableGlobal {
    color: var(--hl-dark-blue-1);
}

.hl-typed-IdentifierParameter {
    color: var(--hl-blue);
}

.hl-typed-IdentifierLocal {
    color: var(--hl-blue);
}

.hl-typed-IdentifierShadowed {
    color: var(--hl-blue);
}

.hl-typed-IdentifierModule {
    color: var(--hl-blue);
}

.hl-typed-IdentifierFunction {
    color: var(--hl-yellow);
}

.hl-typed-IdentifierFunctionDefinition {
    color: var(--hl-yellow);
}

.hl-typed-IdentifierMacro {
    color: var(--hl-yellow);
}

.hl-typed-IdentifierMacroDefinition {
    color: var(--hl-yellow);
}

.hl-typed-IdentifierType {
    color: var(--hl-blue);
}

.hl-typed-IdentifierBuiltinType {
    color: var(--hl-blue);
}

.hl-typed-IdentifierAttribute {
    color: var(--hl-purple);
}

.hl-typed-StringLiteral {
    color: var(--hl-red);
}

.hl-typed-StringLiteralEscape {
    color: var(--hl-red);
}

.hl-typed-StringLiteralSpecial {
    color: var(--hl-red);
}

.hl-typed-StringLiteralKey {
    color: var(--hl-red);
}

.hl-typed-CharacterLiteral {
    color: var(--hl-red);
}

.hl-typed-NumericLiteral {
    color: var(--hl-green-1);
}