<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>codesearch.ai</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:400" rel="stylesheet" />
  <link rel="stylesheet" href="/static/common.css" />
  <link rel="stylesheet" href="/static/index.css" />
</head>

<body>
  <div class="content">
    <h1 class="logo">
      codesearch.ai
    </h1>
    {{ template "query" }}
    <div class="try">
      <a href="/search?q=how%20to%20determine%20a%20string%20is%20a%20valid%20word">how to determine a string is a valid
        word</a>
      <a href="/search?q=how%20to%20get%20database%20table%20name">how to get database table name</a>
      <a href="/search?q=how%20to%20read%20the%20contents%20of%20a%20.gz%20compressed%20file%3F">how to read the
        contents of a .gz compressed file?</a>
      <a href="/search?q=convert%20a%20date%20string%20into%20yyyymmdd">convert a date string into yyyymmdd</a>
      <a href="/search?q=how%20to%20make%20the%20checkbox%20checked">how to make the checkbox checked</a>
    </div>
  </div>
</body>

</html>