<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codesearch.ai | {{ .Query }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:400" rel="stylesheet" />
    <link rel="stylesheet" href="/static/common.css" />
    <link rel="stylesheet" href="/static/search.css" />
    <link rel="stylesheet" href="/static/highlight.css" />
</head>

<body>
    <div class="content">
        <div class="search-bar">
            <a href="/">
                <h1 class="logo">codesearch.ai</h1>
            </a>
            {{ template "query" .Query }}
        </div>
        <div class="results">
            <div class="functions">
                <div class="functions__title">
                    <img src="/static/github-mark.png" width="16px" height="16px" />
                    GitHub functions
                </div>
                {{ range .Functions }}
                <div class="function">
                    <a class="function__title" href="{{ .URL }}">
                        {{ .RepositoryName }}/{{ .FilePath }}
                    </a>
                    <div class="function__code__wrapper">
                        <div class="function__code">{{ .HighlightedHTML }}</div>
                        <button type="button" class="expand"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg></button>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="questions">
                <div class="functions__title">
                    <img src="/static/stack-overflow.png" width="16px" height="16px" />
                    StackOverflow (Experimental)
                </div>
                {{ range .Questions }}
                <div class="question">
                    <a class="question__title" href="{{ .URL }}">{{ .Title }}</a>
                    <div class="question__subtitle">
                        Asked on {{ .CreationDate }} &middot;
                        <strong>{{ .Score }}</strong> votes
                    </div>
                    <div class="question__answers__wrapper">
                        <div class="question__answers__title">{{ len .Answers }}
                            {{ if eq (len .Answers) 1 }}answer{{ else }}answers{{ end }}
                        </div>
                        <div class="question__answers">
                            {{ range .Answers }}
                            <div class="question__answer">
                                <div class="question__answer__meta">
                                    Answered on {{ .CreationDate }} &middot;
                                    <strong>{{ .Score }}</strong> votes
                                </div>
                                <div class="question__answer__body">
                                    {{ escapeCodeSnippets .Body }}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        <button type="button" class="expand expand-question"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg></button>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const functions = document.querySelectorAll('.function__code, .question__answers')
            functions.forEach(fn => {
                if (fn.scrollHeight > fn.offsetHeight) {
                    const expandButton = fn.nextElementSibling
                    expandButton.style.display = 'block'
                    expandButton.addEventListener('click', () => {
                        fn.style.maxHeight = 'unset'
                        expandButton.style.display = 'none'
                    })
                }
            })
        })
    </script>
</body>

</html>