body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #F7F8FB 0%, #F9F7FC 100%);
}

code,
textarea {
  font-family: 'Azeret Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 14px;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}