.search-results {
    padding: 0 42px;
    display: flex;
    gap: 32px;
}

.search-results-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 700px;
    min-width: 300px;
}

@media (max-width: 700px) {
    .search-results {
        padding: 0 20px;
        flex-wrap: wrap;
    }
}